RewriteEngine On
RewriteBase /bela_cidade_boituva/

# Redireciona para o index.php se não houver um arquivo correspondente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
