footer{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: url('../image/footer/background.png');
    background-size: 100% 100%;
    column-gap: 54px;
}

footer p{
    color: white;
    font-family: 'g-light';
    font-size: 1rem;
}

footer i{
    color: var(--cor-amarelo);

}

footer .right img{
    margin-bottom: 15px;

}

footer .right .text{
    margin-bottom: 10px;
}

footer .right .contatos{
    display: flex;
    column-gap: 20px;
}

footer .right .contatos p{
    display: flex;
    column-gap: 5px;
}

footer .right .contatos_network{
    margin-top: 10px;
}

footer .left form {
    display: flex;
    flex-direction: column;

    border: 0px solid;

}


footer .left form input, footer .left form textarea{
    background-color: #394A5C;
    border: 0px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
color: white;
    
    
}
footer .left form input::placeholder{
    font-size: 1rem;
color: white;
}
footer .left form .form_itens{
    display: flex;
    column-gap: 30px;
}
footer .left form {
    margin-top: 10px;
}

footer .left form .button{
    display: flex;
    justify-content: end;
}

footer .left form button{
    padding: 10px 20px;
    background-color: var(--cor-amarelo);
    color: var(--cor-azul);
    font-family: 'g-book';
    border: 0;
}

footer .left .title{
    font-family: 'g-bold';
    color: var(--cor-amarelo);
    font-size: 2rem;

}

@media only screen and (max-width: 782px) {

    footer {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: var(--cor-azul);
        column-gap: 0px;
    }

    footer .left{
        order: 1;
    }

    footer .right{
        order: 2;
    }

}