.luxor {
    display: grid;
    grid-template-columns: 38% 38%;
    column-gap: 4%;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'l-regular';
}

.luxor .left img {
    width: 100%;
}

.item_number p:nth-child(1){
color: var(--cor-laranja);
    font-family: 'l-regular';
    font-size: 1.9rem;
}

.luxor .right .title {
    font-family: 'l-medium';
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--cor-preta);
    font-size: 1rem;
}

.luxor .right .subtitle {
    font-family: 'l-bold';
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    margin-bottom: 40px;
}

.luxor .item_text {
    display: flex;
    column-gap: 30px;
    margin-bottom: 15px;
}

.luxor .item_text img {
    width: 150px;
    height: 100%;
    margin-bottom: 30px;
}

.luxor .right .text {
    margin-bottom: 15px;
}

.luxor .items_numbers {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 20px;
    text-align: center;
}



@media only screen and (max-width: 1000px) {

    .luxor {
        display: grid;
        grid-template-columns: 80%;
        column-gap: 4%;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: 'l-regular';
    }

    .luxor .right{
        order: 1;
        margin-top: 10px;
    }

    .luxor .left{
        order: 2;
    }

    .luxor .right .subtitle {
        font-family: 'l-bold';
        font-size: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
        margin-bottom: 40px;
    }

}

