.conforto{
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
    position: relative;
    background: url('../image/conforto/background.png');
    background-size: 100% 100%;
}

.conforto .top .text{
    display: grid;
    grid-template-columns: 30%;
    justify-content: end;
    text-align: center;


}

.conforto .top .text p{
    font-family: 'g-extra-light';
}


.conforto .top img{
    width: 100%;


}

.conforto .bottom img{
    width: 100%;
    margin-top: -165px;
    position: relative;
    z-index: -1;
}

@media only screen and (max-width: 800px) {

    .conforto {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        position: relative;
    }

    .conforto .top .text {
        display: grid;
        grid-template-columns: 100%;
        justify-content: end;
        text-align: center;
    }

    .conforto .bottom img {
        width: 100%;
        margin-top: 0px;
        position: relative;
        z-index: -1;
    }

    .conforto .top .text {
        display: grid;
        grid-template-columns: 100%;
        justify-content: start;
        /* text-align: center; */
    }

    .conforto {
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0px;
        position: relative;
    }


}